@CHARSET "ISO-8859-1";

body{

background-image:url(../img/bckg.jpg);
font-family: Georgia;

}

 
.my_view{
min-height: 328px;
max-height: 328px;
width: 280px;
padding:20px;
border:5px solid gray;
margin-top:30px;
margin-left:10px;
margin-right: 220px;
padding-top: 10px;
padding-left: 30px;
 
 }

.register{
text-align: right;
padding-top: 10px;
}
 
 
.my_container{
min-height: 380px;
max-height: 380px;

padding:20px;
border:5px solid gray;
margin-top:30px;
margin-left:10px;
margin-right: 10px;
padding-top: 10px;
padding-left: 30px;
 
 }

 


.footer {
min-height: 25px;
max-height: 25px;
padding:20px;
border:5px solid gray;
margin:10px;
text-align: right;
   }


.home_content2 {
min-height: 330px;
max-height: 330px;
width: 230px;
padding:10px;
border:5px solid gray;
margin:10px;
margin-right:10px;
float: left;
text-align: left;
}



.txtArea { width:180px; height:180px; 

}

.home_content3 {
min-height: 330px;
max-height: 330px;
width: 490px;
padding:10px;
border:5px solid gray;
margin:10px;
float: right;
text-align: center;
}


.row > div {
        background-color: #dedef8;
        box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}









	



 
 
 
 
   
    